body {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 1.42;
  background: #001821;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1 h2 h3 h4 h5 h6 {
  margin: 0;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

.main-page-wrapper {
  background: url(./img/1.png) center top no-repeat, url(./img/2.png) right bottom 165px no-repeat;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

.header {
  height: 92px;
  position: relative;
  margin-bottom: 102px;
}

.logo {
  display: block;
  position: absolute;
  top: 29px;
  left: 0;
}

.menu {
  position: absolute;
  top: 39px;
  left: 164px;
}

.contacts {
  position: absolute;
  top: 29.64px;
  right: 0;
  line-height: 1.1;
  text-align: right;
  font-style: normal;
}

.contacts__text{
  color: #9A9A9A;
  font-size: 11px;
  margin-bottom: 6px;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 14px;
  text-decoration: none;
}

.menu__link:hover {
  color: #DA0100;
}

.contacts__number {
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 2px;
}
.contacts__time--title {
  font-size: 13px;
  text-decoration: underline;
}

.main {
  width: 515px;
  margin-bottom: 243px;
}

.main__title {
  font-size: 72px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 22.5px;
}

.main__slogan {
  font-size: 18px;
  margin-bottom: 29.5px;
}

.button {
  background: #F5170E;
  border-radius: 35px;
  padding: 19px 40px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.button--color--white {
  background: #fff;
  color: #F5170E;
  border: 1px solid #F5170E;
}

.button--color--white:hover {
  background: #F5170E;
  color: #fff;
}

.sale {
  margin-bottom: 125px;
}

.sale__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 51px;
}

.sale__title::after {
  content: url(./img/flame.png);
  margin-left: 15px;
}

.sale__item {
  min-height: 449px;
  background: #fff;
  border-radius: 5px;
  display: inline-block;
  margin-right: 22px;
  width: 362px;
}

.sale__item:last-child {
  margin-right: 0;
}

.sale-card__img {
  border-radius: 5px 5px 0px 0px;
}

.sale__header {
  min-height: 144px;
  margin-bottom: 26px;
}

.sale-card__desc {
  padding: 0px 22px 26px 22px;
  color: #000000;
}

.sale-card__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 22px;
}

.options {
  display: inline-block;
  vertical-align: top;
  color: #666666;
  margin-bottom: 8px;
}

.options__item {
  display: inline-block;
}

.options__item:last-child {
  margin-bottom: 0;
}

.options__img--calendar {
  margin-right: 9px;
  vertical-align: middle;
}

.options__text--calendar {
  margin-right: 23px;
}

.options__img--meal {
  margin-right: 5px;
  vertical-align: middle;
}

.sale-card__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 24px;
}

.sale-button__wrapper {
  padding: 0px 1px;
}

.button--color--white {
  box-sizing: border-box;
  padding: 17px 29px;
  transition: .5s;
}

.news__title {
  font-size: 36px;
  margin-bottom: 51px;
}

.news__item {
  width: 557px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 19px;
  margin-bottom: 51px;
}

.news__item:last-child {
  margin-right: 0;
}

.single-news__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.single-news__desc {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px 30px;
  min-height: 166px;
  display: block;
}

.single-news__date {
  font-size: 14px;
  margin-bottom: 12.5px;
}
.single-news__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}

.single-news__text {
  line-height: 1.5;
}

.paginator {
  text-align: center;
  margin-bottom: 75px;
}

.paginator__display, .paginator__list{
  display: inline-block;
  vertical-align: middle;
}

.paginator__display {
  margin-right: 20px;
}

.paginator__item {
  display: inline-block;
  vertical-align: middle;
}

.paginator__item--active .paginator__link {
  background: #fff;
  border-radius: 50%;
  color: #F5170E;
}

.paginator__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
}

.story {
  padding: 72px 0 53px 0;
}

.story__content {
  display: inline-block;
  border-radius: 5px;
  max-width: 785px;
  background-image: url('./img/mountains.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 70px 202px 64px 81px;
  margin-left: -141px;
  vertical-align: top;
  margin-top: 96px;
}

.section__title {
  margin-bottom: 37px;
}

.story__text {
  margin-bottom: 42px;
  font-size: 16px;
  line-height: 27px;
  color: #060606
}

.story__container::before {
  content: '';
  display: inline-block;
  width: 490px;
  height: 505px;
  background-image: url('./img/gates.jpg');
  border-radius: 5px;
  vertical-align: top;
}

.button__story:hover {
  background-color: #DA0100;
}

.story__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  margin-top: 0;
  margin-bottom: 37px;
  
}

.section-title--color--black {
  color: #000;
}

.footer-containet__content {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer {
  height: 118px;
  position: relative;
  margin-top: 20px;
}

.socials__item{
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.socials {
  position: absolute;
  top: 33px;
  right: 265px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link{
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.socials__link--tg .socials__link {
  background-image: url(./img/tg.png);
}

.socials__link--tg .socials__link:hover {
  background-image: url(./img/tg-hover.png);
}

.socials__link--vk .socials__link {
  background-image: url(./img/vk.png);
}

.socials__link--vk .socials__link:hover {
  background-image: url(./img/vk-hover.png);
}

.socials__link--fb .socials__link {
  background-image: url(./img/fb.png);
}

.socials__link--fb .socials__link:hover {
  background-image: url(./img/fb-hover.png);
}

.socials__link--ig .socials__link {
  background-image: url(./img/ig.png);
}

.socials__link--ig .socials__link:hover {
  background-image: url(./img/ig-hover.png);
}
